.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 4px solid white;
    bottom: 300px;
    left: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: absolute;
   
  }

  .button {
   
    border-color: grey;
    margin-left: 1em;
   
  
  }